<div class="container__menu-bar">
  <div class="menu__logo">
    <a href="/">
      <img src="assets/img/favicon.png" alt="Logo do blog" height="32">
      <span class="menu__nome-blog">Sandra Mastrogiacomo</span>
    </a>
  </div>
  <ul>
    <li><a href="https://www.linkedin.com/in/sandramastrogiacomo/" target="_blank">LinkedIn</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/sandramastrogiacomo" target="_blank">GitHub</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/sandramastrogiacomo/" target="_blank">Instagram</a></li>
  </ul>
</div>
